body, html {
	font-family: 'Courier Prime';
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: rgba(230,230,230,1);
	width: 100% !important;
	height: 100% !important;
}

h1 {
	font-weight: 700;
	color: rgba(25,25,25,1);
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	color: rgba(25,25,25,1);
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	color: rgba(25,25,25,1);
	font-size: 20px;
	font-weight: 600;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

a {
	color: rgb(21, 45, 110);
	font-weight: bold;
	text-decoration: underline;
}
a:hover, a:focus {
	text-decoration: none;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(230,230,230,1);
	background:  rgba(40,40,40,1);
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background:  rgba(200,200,200,1);
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
.navbar-custom {
	margin-bottom: 0;
	background-color: rgba(40,40,40,1);
	border-radius: 0px;
	padding: 2px 0;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 4px;
	font-size: 16px;
	color: rgba(230,230,230,1);
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: rgba(230,230,230,1);
	text-decoration: none;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color:  rgba(150,150,150,1);
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color:  rgba(150,150,150,1);
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: rgba(230, 230, 230, 1);
}
.btn-default {
	color: rgba(230, 230, 230, 1);
	background-color: transparent;
	border-color: rgba(230, 230, 230, 1);
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: rgba(230, 230, 230, 1);
	background-color: rgba(40, 40, 40, 1);
	border-color: rgba(25, 25, 25, 1);
}
.btn-primary {
	color: rgba(230, 230, 230, 1);
	background-color: rgba(150, 150, 150, 1);
	padding: 10px 20px;
	border-color: rgba(25, 25, 25, 1);
	border-radius: 0;
	text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: rgba(230, 230, 230, 1);
	background-color:  rgba(150, 150, 150, 1);
	border-color:  rgba(150, 150, 150, 1);
}
.btn-primary i.fa {
	margin-right: 10px;
}

.section-title.center {
	padding: 25px 0 45px 0;
}
/* About Section */
#about {
	padding-top: 25px;
	padding-bottom: 10px;
}
#about .about-text {
	margin-left: 10px;
}
#about img {
	position: relative;
	top: 0px;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: inline-block;
}
#about p {
	color: rgba(25,25,25,1);
	margin-top: 20px;
	margin-bottom: 30px;
}

#about a {
	color: rgba(25,25,25,1);
	font-weight: bold;
	text-decoration: underline;
}
#about a:hover, a:focus {
	text-decoration: none;
	font-weight: lighter;
	font-size: 20px;
	color: rgba(230,230,230,1);
	background:  rgba(40,40,40,1);
}

/* Acoustics Section */
#acoustics {
	padding: 125px 0;
}
#acoustics .about-text {
	margin-left: 10px;
}
/* #acoustics h2 {
}
#acoustics hr {
} */
#acoustics p {
	color: rgba(25,25,25,1);
	margin-top: 20px;
	margin-bottom: 30px;
}



/* Audio Section */
#audio {
	padding-top: 125px;
	padding-bottom: 125px;
}
#audio .about-text {
	margin-left: 10px;
}
/* #audio h2 {

}
#audio hr {
} */

#audio p {
	color: rgba(25,25,25,1);
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Music Section */
#music {
	padding: 125px 0;
}

/* #music h2 {
}
#music hr {
} */

#music .about-text {
	margin-left: 10px;
}
#music p {
	color: rgba(25,25,25,1);
}

#music li {
	color: rgba(25,25,25,1);
	padding: 10px 10px;
}

#music i.fa {
	color: rgba(180, 180, 180, 1);
}
#music i.fa:hover {
	background-color: rgba(230, 230, 230, 1);
	color: rgba(100, 100, 100, 1);
	text-decoration: none;
}

/* VR Section */
#vr {
	padding: 125px 0;
}
/* #vr h2 {
}
#vr hr {
} */

#vr .about-text {
	margin-left: 10px;
}

#vr p {
	color: rgba(25,25,25,1);
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Audio Section */
#audio {
	background: rgba(230, 230, 230, 1)fff; /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230, 230, 230, 1)fff 0%, rgba(230, 230, 230, 1) 49%, rgba(230, 230, 230, 1)fff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 1)fff), color-stop(49%, rgba(230, 230, 230, 1)), color-stop(100%, rgba(230, 230, 230, 1)fff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(230, 230, 230, 1)fff 0%, rgba(230, 230, 230, 1) 49%, rgba(230, 230, 230, 1)fff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230, 230, 230, 1)fff 0%, rgba(230, 230, 230, 1) 49%, rgba(230, 230, 230, 1)fff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(230, 230, 230, 1)fff 0%, rgba(230, 230, 230, 1) 49%, rgba(230, 230, 230, 1)fff 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(230, 230, 230, 1)fff 0%, rgba(230, 230, 230, 1) 49%, rgba(230, 230, 230, 1)fff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(230, 230, 230, 1)fff', endColorstr='rgba(230, 230, 230, 1)fff', GradientType=0 ); /* IE6-9 */
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	padding: 6px 14px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin: 35px 0;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.portfolio-item:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1);
}
.portfolio-item .hover-bg {
	height: 260px;
	overflow: hidden;
	position: relative;
	align-content: center;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	padding: 33% 0 0 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	font-weight: 400;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg .hover-text>small {
	color: rgba(230, 230, 230, 1);
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#audio i.fa {
	font-size: 20px;
	padding: 5px;
	color: #E87E04;
}
/* Contact Section */
#contact {
	padding: 25px 0 40px 0;
	color: rgba(230,230,230, 1);
	background:  rgba(40, 40, 40, 1);
}
#contact h2 {
	color: rgba(230,230,230, 1);
}

#contact h3 {
	padding-top: 20px;
	font-size: 20px;
	font-weight: 400;
	color: rgba(230, 230, 230, 1);
}
#contact form {
	padding: 5px 0;
}
#contact i.fa {
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #E87E04;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Courier Prime';
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	background-color: rgba(255,255,255,0.8);
	background-image: none;
	border: 0;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: rgba(100, 100, 100, 1);
}
.form-control:-moz-placeholder {
color: rgba(100, 100, 100, 1);
}
.form-control::-moz-placeholder {
color: rgba(100, 100, 100, 1);
}
.form-control:-ms-input-placeholder {
color: rgba(100, 100, 100, 1);
}
#contact .social {
	margin-top: 60px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 30px;
	padding: 4px 5px;
	color: rgba(180, 180, 180, 1);
	transition: all 0.5s;
}
#contact .social i.fa:hover {
	color: rgba(230, 230, 230, 1);
}
#contact .btn {
	background-color: transparent;
	border-radius: 0;
	padding: 10px 20px;
	margin-top: 15px;
}
#contact .btn:hover, #contact .btn:focus {
	background-color: rgba(150, 150, 150, 1);
	border: 1px solid rgba(100, 100, 100, 1);
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Footer Section*/
#footer {
	color: rgba(100, 100, 100, 1);
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: rgba(100, 100, 100, 1);
}
#footer a:hover {
	color:   rgba(230, 230, 230, 1);
}

/* Media Queries */
@media(min-width:768px) {
.intro {
	height: 100%;
	padding: 0;
	text-align: left;
	color: rgba(230, 230, 230, 1);
}
.intro H1 {
	font-size: 60px;
	font-weight: 500;
	letter-spacing: -2px;
}
.intro .name {
	font-weight: 600;
}
.intro .intro-text {
	max-width: 75%;
}
.intro .intro-text p {
	font-family: 'Courier Prime';
	font-size: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}
section {
	padding: 120px 0;
}
header .intro-text {
	padding-top: 300px;
	padding-bottom: 200px;
}
.timeline:before {
	left: 50%;
}
.timeline>li {
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li .timeline-panel {
	float: left;
	width: 41%;
	padding: 0 20px 20px 30px;
	text-align: right;
}
.timeline>li .timeline-image {
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.timeline>li .timeline-image h4 {
	margin-top: 16px;
	line-height: 18px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 30px 20px 20px;
	text-align: left;
}
}

@media(min-width:992px) {
#here-me h1 {
	margin: 10px 0 0px;
}
.timeline>li {
	min-height: 150px;
}
.timeline>li .timeline-panel {
	padding: 0 20px 20px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 30px;
	font-size: 18px;
	line-height: 26px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 20px;
}
}

@media(min-width:1200px) {
.timeline>li {
	min-height: 170px;
}
.timeline>li .timeline-panel {
	padding: 10px 20px 20px 100px;
}
.timeline>li .timeline-image {
	width: 150px;
	height: 150px;
	margin-left: -75px;
}
.timeline>li .timeline-image h4 {
	margin-top: 40px;
	font-weight: 400;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 10px 100px 20px 20px;
}
}
